:host {
  .toolbar {
    display: flex;
  }
  .top-navigtaion {
    margin-left: auto;
  }

  .sidenav-container {
    background: #ffffff;
    color: inherit;
    height: calc(100vh - 64px);
    .mat-sidenav-content {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 600px) {
    .sidenav-container {
      height: calc(100vh - 56px);
    }
  }

  @media screen and (max-width: 860px) {
    .top-navigtaion {
      display: none;
    }
  }
}
