hr {
  border: none;
  height: 1px;
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
  margin-bottom: 20px;
  max-width: 440px;
}

a {
  color: #3d464d;
}
